@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }