/* .thumbnail{        
    /* width: 300px;  */
    /* or you could use percentage values for responsive layout */
    width : 50%;
    height: 50%;
    overflow: auto;
    /* display: inline; */
} */
/* .border{
    color:purple;
} */