/* .thumbnail{        
    /* width: 300px;  */
    /* or you could use percentage values for responsive layout */
    width : 40%;
    height: 40%;
    overflow: auto;
    /* display: inline; */
} */